<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8"></meta>
    <title>Hello Job Search</title>
</head>
<body>
<form action="employee_signin_submit" method="post">
    <table>
        <tr>
            <td>Employee Name:</td>
            <td><input type="text" name="empName" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="empPassword" /></td>
        </tr>
    </table>
</form>

</body>
</html>