<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8"></meta>
    <title>Hello Job Search</title>
</head>
<body>
<form action="employee_signup" method="post">
    <table>
        <tr>
            <td><input type="submit" value="Employee Signup" /></td>
        </tr>
    </table>
</form>

<form action="recruiter_signup" method="post">
    <table>
        <tr>
            <td><input type="submit" value="Recruiter Signup" /></td>
        </tr>
    </table>
</form>
</body>
</html>